<!DOCTYPE html>
<html>
	<head>
		<title>{{.room}} questions</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
	</head>
	<body>
		<h1>{{.room}} questions</h1>
		<p class="msg error">
		The code you gave for this room was incorrect :(
		</p>
	</body>
</html>
