<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{{.room}} questions</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/style.css" />
	</head>
	<body>
		<h1>{{.room}} questions</h1>
		{{if .instructor}}
		<h2>
			Student code: <a href="/room/{{.room}}/{{.scode}}">{{.scode}}</a>
		</h2>
		{{end}}
		{{if eq .submitted "1"}}
			{{if .instructor}}
			<p class="msg">
			Your note has been posted.
			</p>
			{{else}}
			<p class="msg">
			Your question has been sent to the TAs.
			</p>
			{{end}}
		{{end}}
		<form action="" method="post">
			<label for="nick">Nickname</label>
			<input type="text" name="nick" placeholder="student" />
			<label for="question">Question</label>
			<textarea rows=3 name="question" required></textarea>
			<input type="submit" value="Submit question" />
		</form>
		{{if .instructor}}
		<section>
		<h2>Student questions</h2>
		{{range .qs}}
		<blockquote class="question {{if .Inst}}instructor{{end}}">
			<p>{{.Text}}</p>
			{{if ne .By ""}}
			<footer>
				<cite>{{.By}}</cite>
			</footer>
			{{end}}
		</blockquote>
		{{end}}
		</section>
		{{end}}
		{{if .instructor}}
		<script type="text/javascript" src="/static/poll.js"></script>
		{{end}}
		<footer>
			Available on <a href="https://github.com/jonhoo/icebreaker">GitHub</a>.
		</footer>
	</body>
</html>
